{% load static %}  
<!DOCTYPE html>  
<html lang="en">  
    <head>  
        <meta charset="UTF-8">  
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Bug Tracker</title>  
        <!-- Bootstrap files -->
        <link rel="stylesheet" href="{% static 'bootstrap-4.3.1/css/bootstrap.min.css' %}" >  
        <script type="text/javascript" src="{% static 'bootstrap-4.3.1/js/bootstrap.min.js' %}"></script>  
        <!-- css and js files -->
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    </head>  
    <body>  
        <nav class="navbar">
            <a class="navbar-brand" href="#">Bug Tracker</a>
        </nav>

        {% block addprojectform %}
        {% endblock addprojectform %}

        {% block home %}
        {% endblock home %}
        
        {% block bug %}
        {% endblock bug %}        
    </body>  
</html>  