{% load static %}  
<!DOCTYPE html>  
<html lang="en">  
    <head>  
        <meta charset="UTF-8">  
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Bug Tracker</title>  
        <link rel="stylesheet" href="{% static 'bootstrap-4.3.1/css/bootstrap.min.css' %}" >  
        <script type="text/javascript" src="{% static 'bootstrap-4.3.1/js/bootstrap.min.js' %}"></script>  
        <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    </head>  
    <body>  
        
    </body>  
</html>  