{% load static %}  
<!DOCTYPE html>  
<html lang="en">  
    <head>  
        <meta charset="UTF-8">  
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Bug Tracker</title>  
        <!-- Bootstrap files -->
        <link rel="stylesheet" href="{% static 'bootstrap-4.3.1/css/bootstrap.min.css' %}" >  
        <script type="text/javascript" src="{% static 'bootstrap-4.3.1/js/bootstrap.min.js' %}"></script>  
        <!-- css files -->
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'css/bugs_list.css' %}">
        <link rel="stylesheet" href="{% static 'css/projects.css' %}">
        <link rel="stylesheet" href="{% static 'css/table.css' %}">
        <!--js files-->
        <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
        <!--link for google icons-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--link for google fonts-->
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&family=Nunito+Sans:wght@300&family=Playfair+Display&family=Red+Rose&family=Rowdies:wght@700&display=swap" rel="stylesheet"> 
    </head>  
    <body>  
        <nav class="navbar mb-3">
            <a class="navbar-brand" href=" {% url 'home' %} ">Bug Tracker</a>
        </nav>

        {% block addprojectform %}
        {% endblock addprojectform %}

        {% block home %}
        {% endblock home %}
        
        {% block bug %}
        {% endblock bug %}     

        {% block addbugform %}
        {% endblock addbugform %}   
    </body>  
</html>  