{% extends 'projects_app/base.html' %}
{% block home %}
    <div class="container mt-3">
        <h1 class="display-4">Projects</h1>
        <table class="table mt-5"> 
            <thead>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Organization/Company</th>
                <th scope="col">Technology Used</th>
            </thead>
            <tbody>
                {% for project in projects %}
                    <tr>
                        <th scope="row"> {{forloop.counter}} </th>
                        <td><a href="#">{{project.name}}</a></td>
                        <td>{{project.organization_name}}</td>
                        <td>{{project.technology}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="flex-container">
        <button type="button" id="add-project" class="mt-5 btn btn-outline-primary" onclick="openprojectform()">add project</button>
    </div>
{% endblock home %}