.navbar{
    background-color: rgb( 70, 67, 255 );
}

.navbar a{
    color: white;
}

.flex-container{
    display: flex;
    justify-content: center;
}

#add-project{
    text-transform: uppercase;
}

.navbar-brand{
    font-family: 'Rowdies', cursive;
    font-size: 30px;
}

.pagination{
    display: flex;
    justify-content: center;
}